@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .touch-safe {
    display: inline-flex;
    width: 3rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

@layer utilities {
  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .bg-blur {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
    }
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .scrollbar {
    -ms-overflow-style: initial;
    scrollbar-width: thin;
  }

  .scrollbar::-webkit-scrollbar {
    display: block;
  }
}

.list-enter-active,
.list-leave-active {
  transition: all 0.2s ease;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
}
